/* For Desktop View */
@media screen and (min-width: 1024px) {

}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .website-wrapper {
    padding: 10px !important;
  }
  header.website-wrapper {
    height: 50px !important;
  }
  header .logo img {
    width: 12rem;
  }
  .featured-card-container {
    width: 100% !important;
  }
  .featured-card {
    width: 245px !important;
  }
  .slick-next {
    right: 5px !important;
  }
  .latest-news {
    width: 100% !important;
  }
  .get-notify {
    padding: unset !important;
  }
  .popular-clg {
    width: 236px !important;
  }
  .download {
    font-size: 10px !important;
    padding: 3px 3px !important;
    width: 140px !important;
  }
  .compare {
    font-size: 10px !important;
  }
  .exam-card {
    width: 195px !important;
  }
  .news-card {
    width: 195px !important;
  }
  .city-card {
    width: 130px !important;
    height: 100px !important;
  }
  .footer-lists {
    height: auto !important;
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .website-wrapper {
    .main-contents {

      .text-2xl {
        font-size: 1.4rem;
        line-height: 1.4rem;
      }

      .detailsBanner {
        .bgColor {
          height: auto !important;
        }
        .detaisHead {
          margin: 0px !important;
          height: auto !important;
          padding: 10px 10px 0 !important;
          .image {
            width: 50px !important;
            height: 50px !important;
            img {
              min-width: 49px !important;
              height: 49px !important;
            }
          }
          .title h1 {
            padding: 5px 10px;
            font-size: 16px !important;
            text-align: left !important;
            line-height: 16px;
          }
        }
        .otherInfo {
          .rankInfo {
            position: initial !important;
            gap: 5px !important;
            /* font-size: 14px; */
            li {
              padding-right: 5px !important;
              font-size: 10px;
              margin-bottom: 15px;
              display: flex;
              align-items: center;
              height: 2px !important;
            }
          }
          .historyInfo {
            position: initial !important;
            margin: 10px 0px;
            gap: 5px !important;
            li {
              padding: 2px 10px !important;
              font-size: 8px;
            }
          }
          .apply-link {
            padding: 8px 18px !important;
            /* max-width: 100px; */
            align-items: center;
            position: initial !important;
            justify-content: center;
            margin: 20px 0 5px;
          }
          .action-btns {
            /* display: inherit !important; */
            padding-top: 10px !important;
            right: 10px !important;
            top: 22px !important;
            > div {
              width: 85px;
              line-height: 12px;
              padding: 1px 5px !important;
              font-size: 12px !important;
            }
          }
        }
      }
      .college-list-wrapper {
        padding: 10px 0px !important;
        .college-list-card {
          max-height: initial !important;
          .title-section {
            height: 100px;
          }
          h2 {
            line-height: 14px;
            font-size: 14px !important;
          }
          .other-details {
            height: inherit;
            max-height: initial !important;
            .highlights {
              display: inherit !important;
              > div {
                display: flex;
                justify-content: space-between;
              }
            }
            .action-btns {
              display: inherit !important;
              margin-top: 10px !important;              
              >div {
                justify-content: center;
              }
              .apply-btn {
                width: 100%;
                margin-top: 10px;
                height: 30px;
              }
            }
          }
        }
      }

      .facilities {
        ul {
          li {
            width: 48% !important;
            max-width: 48% !important;
          }
        }
      }

      .rating  {
        .rating-wrapper {
          ul li {
            width: 100% !important;
            padding: 5px;
          }
        }
      }
      .address {
        ul li {
          display: inherit !important;
          padding: 5px !important;
        }
      }
      .related-colleges {
        display: inherit !important;       
        .related-colleges-box{
          width: 100%;
          display: inherit !important;
          .details {
            .info {
              width: 100%;
              >div{
                display: flex;
              align-items: center;
              justify-content: space-between;
              }
            }
          }
        }
      }
      .news-wrapper {
        display: inherit !important;
        >div {
          display: inherit !important;
          float: none !important;
        }
        .news-card {
          width: 100% !important;
          max-width: 100% !important;
          margin-bottom: 10px;
        }
      }
      .relatedWrapper {
        width: 100% !important;
        max-width: 100% !important;
        padding-top: 0px !important;
      }
      .ads {
        width: initial !important;
      }

      .courses-fees {
        >div {
          overflow-x: auto;
        }
      }

      .phCards {
        flex-wrap: wrap;
        li {
          width: 100% !important;
        }
      }

      .college-filter-wrapper {
        display: inline;
        .others {
          margin-top: 20px;
          padding: 10px;
        }
        .college-list-wrapper {
          padding: 10px !important;
          width: 100% !important;
        }
        .filter-section {
          display: none;
        }
        .title-details {
          line-height: 20px;
          div, span {
            font-size: 8px;
            line-height: 8px;
            margin-top: 2px;
            font-weight: 700;
            width: 100px;
            word-wrap: break-word;
            > img {
              height: 20px;
            }
          }
        }
        .heart {
          width: 25px !important;
          height: 25px !important;
          right: 10px !important;
          top: 0px !important;
        }
        
      }

      .admission-links-list {
        gap: 5px !important;
      }

      .get-notify {
        margin-top: 10px !important;
        padding: 10px !important;
      }


    /*homepage style*/

    .recent-search {
      display: none !important;
    }
    .latest-news {
      width: 100% !important;
    }
    .search-wrapper {
      width: 100% !important;
    }

    .head-line {
      margin: 2px 8px 2px !important;
      text-align: center;
    }
    ul.tabs {
      justify-content: center;
    }

    .featured {
      height: auto !important;
      .featured-card-container {
        width: calc(100% - 20px) !important;
        margin: 10px !important;
        .featured-card {
          width: 100% !important;
          margin: 10px auto !important;
          .details {
            justify-content: space-around !important;
          }
        }
      }
    }
    
    .news-card-list {
      .news-card {
        width: calc(100% - 20px) !important;
        height: 170px !important;
        margin: 10px !important;
        max-width: inherit !important;
        .details {
          height: 42px;
        }
      }
    }

    .by-cities-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .course-type-container {
      .course-type {
        width: calc(100% - 2px) !important;
        margin: 10px 0 !important;
      }
    }



    }/*main content*/
  }

   .login-left-container {
    display: none;
   }   

  .top-search {
    gap: 2px !important;
    font-size: 6px;
    margin-left: 15px;
  }

  .search-wrapper {
     margin-top: 80px !important;
  }

  /* #searchForm {
    display: flex;
    justify-content: center;
  } */

  #search-input {
    width: 265px !important;
    height: 40px !important;
    margin-left: 12px;
  }

  #search-btn {
    width: 75px !important;
    height: 40px !important;
  }

  .serach-container {
    padding-top: 10px !important;
    width: 100% !important;
    .search-wrapper {
      margin-top: 50px !important;
    }
  }

  .sliding-banner {
    height: 200px !important;  
    background-size: cover !important;
  }

  .search-wrapper mt-7 {
    margin-top: 1.5rem !important;
  }

  .head-line {
    font-size: 24px !important;
    color: #31314a;
    margin-bottom: 20px !important;
  }

  .info {
    width: 100%;
    h1 {
        font-size: 20px;
    }
  }

  .popular-clg-container {
    a {
      width: 100% !important;
      .popular-clg {
        width: 100% !important;
      }
    }
  }

  .exam-card-list {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 5px;
    .slick-slide {
      width: 235px !important;
    }
    .exam-card {
      width: 170px !important;
      & .exam-meta {
        & > div {
            h3 {
              max-width: 110px !important;
              font-size: 14px !important;
            }
        }
      }
    }
  }

  .get-notify-container {
    width: 320px !important;
    height: auto !important;
    flex-wrap: wrap;
    padding: 30px;
    gap: 15px;
    button {
      width: 215px;
    }
  }
  .footer{
    .footer-menu {
      nav {
        width: 100% !important;
        ul {
          flex-wrap: wrap;
        }
      }
    }
    .footer-lists {
      height: auto !important;
      flex-wrap: wrap;
    }
  }

  .container {
    padding: 8px;
    margin: 10px 0px !important;
  } 
  .detailsWrapper {
    display: block !important;
    .contentWrapper {
      width: 100% !important;
    }
  }
  .detailsTab {
    ul {
      overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        a {
          white-space: nowrap;
        }
      }
    }
  }

  .modal {
    .modal-content {
      width: 100% !important;
      .exit-icon {
        font-size: 20px;
      }
      .head-line {
        font-size: 22px !important;
        margin-bottom: 10px !important;
      }
    }
  }


  /*header menu responsive*/
  .mobile-menu {
    display: flex !important;
    align-items: center;
    justify-content: center;    

    ul, .logo, .hamburger-menu {
      display: block !important;
    }

    .logo {
      img {
        width: 18rem;
        padding: 2.4rem;
      }
    }
    ul {
      display: block !important;
      position: absolute;
      top: 65px;
      background-color: #fff;
      width: 100%;
      padding: 10px;
      box-shadow: 0px 2px 25px 2px #000;
      z-index: 9;
      li {
        color: #393555 !important;
        font-weight: 600;
        a {
          padding: 10px;
          margin: 2px 0;
          display: block;
          background-color: #f5f5f5;
          font-size: 16px;
        }
      }
    }
  }
  .desktop-menu {
    display: none !important;
  }
  .desktop.logo {
    display: none !important;
  }
  nav {
    margin-left: 0px !important;
  }
  .hamburger-menu {
    span {
      width: 30px;
      height: 2px;
      display: block;
      background: #fff;
      margin-bottom: 6px;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    &.open {
      > span:nth-child(1) {
        transform: rotate(45deg) translate(0, -6px);
      } 

      > span:nth-child(2) {
        transform: rotate(-45deg) translate(0, 4px);
      } 
      > span:nth-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);      }
    }
    
  }


}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
 
}
